.row {
  max-width: $grid-width;
  //background-color: #eee;
  margin: 0 auto;
  
  &:not(:last-child){
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
        margin-bottom: $gutter-vertical-small;
    }
  }

  @include respond(tab-port) {
    max-width: $grid-width/2;
    padding: 0 3rem;
  }

  @include clearfix;

	// [class^="col-"] --> all class select with begining "col-"
	// [class*="col-"] --> all class select with contain "col-"
	// [class^="col-"] --> all class select with end "col-"
  [class^="col-"] {
		//background-color: red;
		float: left;

		&:not(:last-child){
			margin-right: $gutter-horizontal;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
		}

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
  	@include float_grid_rows(1, 2);
  }

  .col-1-of-3 {
  	@include float_grid_rows(1, 3);
  }
  
  .col-1-of-4 {
  	@include float_grid_rows(1, 4);
  }

  .col-2-of-4 {
  	@include float_grid_rows(2, 4);
  }

	.col-2-of-3 {
		@include float_grid_rows(2, 3);
  }

    .col-3-of-4 {
    @include float_grid_rows(3, 4);
  }
}












